body {
    background-color: rgb(245, 200, 149);
    margin: 20%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

p {
text-align: justify;
}

